 .u-section-1 {
  background-image: url("images/30f4b87abcfad8227ffb6504f4f4e391f3c465ffe93d0f53fa4bf889164f244845bb6811281e3c431900b4ae42e2d924006ceedfb2bfa20b61f2a4_1280.jpg");
  background-position: 50% 50%;
  min-height: 905px;
}

.u-section-1 .u-group-1 {
  width: 712px;
  min-height: 397px;
  height: auto;
  margin: 239px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 8.125rem;
  line-height: 0.8;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 419px);
  margin: 44px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 225px;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 700;
  margin: 10px -14px 0 13px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 700;
  margin: 10px -14px 0 13px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 70.48% 50%;
    min-height: 746px;
  }

  .u-section-1 .u-group-1 {
    width: 632px;
    margin-top: 70px;
    margin-right: calc(((100% - 1140px) / 2) + 110px);
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 1140px) / 2) + 682px);
    margin-top: 35px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 83.47% 50%;
    min-height: 571px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 35px;
    margin-right: calc(((100% - 1140px) / 2) + 218px);
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 1140px) / 2) + 792px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 96.11% 50%;
    min-height: 428px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 269px;
  }

  .u-section-1 .u-group-1 {
    width: 318px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 744px;
  margin: 92px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 85px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 418px;
  grid-gap: 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  margin: 0 auto 0 9px;
}

.u-section-2 .u-group-1 {
  width: 293px;
  min-height: 172px;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  margin: 0 auto 0 9px;
}

.u-section-2 .u-group-2 {
  width: 293px;
  min-height: 172px;
  height: auto;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  margin: 0 auto 0 9px;
}

.u-section-2 .u-group-3 {
  width: 293px;
  min-height: 172px;
  height: auto;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-icon-4 {
  height: 65px;
  width: 65px;
  margin: 0 auto 0 9px;
}

.u-section-2 .u-group-4 {
  width: 293px;
  min-height: 172px;
  height: auto;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-icon-5 {
  height: 65px;
  width: 65px;
  margin: 0 auto 0 9px;
}

.u-section-2 .u-group-5 {
  width: 293px;
  min-height: 172px;
  height: auto;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-icon-6 {
  height: 65px;
  width: 65px;
  margin: 0 auto 0 9px;
}

.u-section-2 .u-group-6 {
  width: 293px;
  min-height: 172px;
  height: auto;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 438px;
  }

  .u-section-2 .u-group-1 {
    width: 225px;
    min-height: 209px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 225px;
    min-height: 209px;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-group-3 {
    width: 225px;
    min-height: 209px;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-group-4 {
    width: 225px;
    min-height: 209px;
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-group-5 {
    width: 225px;
    min-height: 209px;
    height: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-group-6 {
    width: 225px;
    min-height: 209px;
    height: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 651px;
  }

  .u-section-2 .u-group-1 {
    width: 265px;
  }

  .u-section-2 .u-group-2 {
    width: 265px;
  }

  .u-section-2 .u-group-3 {
    width: 265px;
  }

  .u-section-2 .u-group-4 {
    width: 265px;
  }

  .u-section-2 .u-group-5 {
    width: 265px;
  }

  .u-section-2 .u-group-6 {
    width: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 728px;
  }

  .u-section-2 .u-group-1 {
    min-height: 195px;
    width: 177px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-2 {
    min-height: 195px;
    width: 177px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-3 {
    min-height: 195px;
    width: 177px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-4 {
    min-height: 195px;
    width: 177px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
    margin-left: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-5 {
    min-height: 195px;
    width: 177px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-6 {
    min-height: 195px;
    width: 177px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 40px;
  }

  .u-section-2 .u-group-1 {
    width: 255px;
    min-height: 153px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 40px;
  }

  .u-section-2 .u-group-2 {
    width: 255px;
    min-height: 153px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 40px;
  }

  .u-section-2 .u-group-3 {
    width: 255px;
    min-height: 153px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 40px;
  }

  .u-section-2 .u-group-4 {
    width: 255px;
    min-height: 153px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 40px;
  }

  .u-section-2 .u-group-5 {
    width: 255px;
    min-height: 153px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-bottom: 40px;
  }

  .u-section-2 .u-group-6 {
    width: 255px;
    min-height: 153px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 628px;
}

.u-section-3 .u-gallery-1 {
  height: 478px;
  width: 646px;
  margin: 59px auto 60px 220px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 5px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
  padding: 5px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-7 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-8 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-9 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-10 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-11 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-12 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-13 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-14 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: url("images/gsb-165-light-red_2.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4 .u-text-1 {
  font-family: "Alumni Sans Pinstripe";
  font-size: 6rem;
  margin: 231px auto 0 92px;
}

.u-section-4 .u-text-2 {
  font-family: "Alumni Sans Pinstripe";
  font-size: 6rem;
  margin: 0 auto 0 74px;
}

.u-section-4 .u-image-1 {
  width: 478px;
  height: 382px;
  margin: -211px 191px 0 auto;
}

.u-section-4 .u-text-3 {
  font-family: "Alumni Sans Pinstripe";
  font-size: 6rem;
  margin: -165px auto 0 74px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 336px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 108px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -302px;
    margin-right: 118px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-top: -276px;
    margin-right: -118px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-top: -121px;
    margin-right: -239px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -132px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 258px;
    margin-left: 7px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 183px;
    width: 227px;
    margin-top: -102px;
    margin-right: -14px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -44px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1800px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 13px auto 0 150px;
}

.u-section-5 .u-list-1 {
  width: 840px;
  margin: 80px auto 0 105px;
}

.u-section-5 .u-repeater-1 {
  min-height: 724px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-5 .u-image-1 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 14px 21px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 21px;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 21px 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-5 .u-image-2 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: 14px 21px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: 0 21px;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 21px 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-5 .u-image-3 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  margin: 14px 21px 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.5rem;
  margin: 0 21px;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 21px 0;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-5 .u-image-4 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-11 {
  font-size: 1.5rem;
  margin: 14px 21px 0;
}

.u-section-5 .u-text-12 {
  font-size: 1.5rem;
  margin: 0 21px;
}

.u-section-5 .u-text-13 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 21px 0;
}

.u-section-5 .u-list-item-5 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-5 .u-image-5 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-14 {
  font-size: 1.5rem;
  margin: 14px 21px 0;
}

.u-section-5 .u-text-15 {
  font-size: 1.5rem;
  margin: 0 21px;
}

.u-section-5 .u-text-16 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 21px 0;
}

.u-section-5 .u-list-item-6 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-5 .u-image-6 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-17 {
  font-size: 1.5rem;
  margin: 14px 21px 0;
}

.u-section-5 .u-text-18 {
  font-size: 1.5rem;
  margin: 0 21px;
}

.u-section-5 .u-text-19 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 21px 0;
}

.u-section-5 .u-list-2 {
  width: 840px;
  margin: 21px auto 0 107px;
}

.u-section-5 .u-repeater-2 {
  min-height: 724px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-5 .u-list-item-7 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-5 .u-image-7 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 57px;
}

.u-section-5 .u-text-20 {
  font-size: 1.5rem;
  margin: 34px 42px 0 0;
}

.u-section-5 .u-text-21 {
  font-size: 1.5rem;
  margin: 0 42px 0 0;
}

.u-section-5 .u-text-22 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 42px 0 0;
}

.u-section-5 .u-list-item-8 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-5 .u-image-8 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 57px;
}

.u-section-5 .u-text-23 {
  font-size: 1.5rem;
  margin: 34px 42px 0 0;
}

.u-section-5 .u-text-24 {
  font-size: 1.5rem;
  margin: 0 42px 0 0;
}

.u-section-5 .u-text-25 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 42px 0 0;
}

.u-section-5 .u-list-item-9 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-5 .u-image-9 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 57px;
}

.u-section-5 .u-text-26 {
  font-size: 1.5rem;
  margin: 34px 42px 0 0;
}

.u-section-5 .u-text-27 {
  font-size: 1.5rem;
  margin: 0 42px 0 0;
}

.u-section-5 .u-text-28 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 42px 0 0;
}

.u-section-5 .u-list-item-10 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-10 {
  padding: 10px 0;
}

.u-section-5 .u-image-10 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 57px;
}

.u-section-5 .u-text-29 {
  font-size: 1.5rem;
  margin: 34px 42px 0 0;
}

.u-section-5 .u-text-30 {
  font-size: 1.5rem;
  margin: 0 42px 0 0;
}

.u-section-5 .u-text-31 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 42px 0 0;
}

.u-section-5 .u-list-item-11 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-11 {
  padding: 10px 0;
}

.u-section-5 .u-image-11 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 57px;
}

.u-section-5 .u-text-32 {
  font-size: 1.5rem;
  margin: 34px 42px 0 0;
}

.u-section-5 .u-text-33 {
  font-size: 1.5rem;
  margin: 0 42px 0 0;
}

.u-section-5 .u-text-34 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 42px 0 0;
}

.u-section-5 .u-list-item-12 {
  box-shadow: 2px 2px 8px 0px rgba(105,79,60,1);
}

.u-section-5 .u-container-layout-12 {
  padding: 10px 0;
}

.u-section-5 .u-image-12 {
  width: 139px;
  height: 139px;
  background-image: url("images/307241629-01.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 57px;
}

.u-section-5 .u-text-35 {
  font-size: 1.5rem;
  margin: 34px 42px 0 0;
}

.u-section-5 .u-text-36 {
  font-size: 1.5rem;
  margin: 0 42px 0 0;
}

.u-section-5 .u-text-37 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 42px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-left: 100px;
  }

  .u-section-5 .u-list-2 {
    margin-left: 100px;
  }

  .u-section-5 .u-text-21 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-24 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-27 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-30 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-33 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-36 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1411px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-15 {
    margin-right: 0;
  }

  .u-section-5 .u-text-16 {
    margin-right: 0;
  }

  .u-section-5 .u-text-18 {
    margin-right: 0;
  }

  .u-section-5 .u-text-19 {
    margin-right: 0;
  }

  .u-section-5 .u-list-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-2 {
    min-height: 1411px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-text-20 {
    margin-right: 0;
  }

  .u-section-5 .u-text-21 {
    margin-right: 0;
  }

  .u-section-5 .u-text-22 {
    margin-right: 0;
  }

  .u-section-5 .u-text-24 {
    margin-right: 0;
  }

  .u-section-5 .u-text-25 {
    margin-right: 0;
  }

  .u-section-5 .u-text-27 {
    margin-right: 0;
  }

  .u-section-5 .u-text-28 {
    margin-right: 0;
  }

  .u-section-5 .u-text-29 {
    margin-right: 0;
  }

  .u-section-5 .u-text-30 {
    margin-right: 0;
  }

  .u-section-5 .u-text-31 {
    margin-right: 0;
  }

  .u-section-5 .u-text-33 {
    margin-right: 0;
  }

  .u-section-5 .u-text-34 {
    margin-right: 0;
  }

  .u-section-5 .u-text-36 {
    margin-right: 0;
  }

  .u-section-5 .u-text-37 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-15 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-18 {
    margin-top: 20px;
  }

  .u-section-5 .u-list-2 {
    width: 540px;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 94px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-list-2 {
    width: 340px;
  }

  .u-section-5 .u-image-7 {
    margin-top: 10px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-20 {
    margin-top: 24px;
  }

  .u-section-5 .u-image-8 {
    margin-top: 10px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-23 {
    margin-top: 24px;
    margin-right: 0;
  }

  .u-section-5 .u-image-9 {
    margin-top: 10px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-26 {
    margin-top: 24px;
    margin-right: 0;
  }

  .u-section-5 .u-image-10 {
    margin-top: 10px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-29 {
    margin-top: 24px;
  }

  .u-section-5 .u-image-11 {
    margin-top: 10px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-32 {
    margin-top: 24px;
    margin-right: 0;
  }

  .u-section-5 .u-image-12 {
    margin-top: 10px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-35 {
    margin-top: 24px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 473px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-6 .u-form-1 {
  height: 325px;
  width: 570px;
  margin: 21px auto 35px;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-form-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}